<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007858365668-efotpneregjb02ihmcav77gpn5uoo1db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007858365668-efotpneregjb02ihmcav77gpn5uoo1db</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007858365668-516apeqv45qildki6d70fb4j5sd5detr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuXPc57OuyCwSs4WDpYycYirLJgI_O3go</string>
	<key>GCM_SENDER_ID</key>
	<string>1007858365668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darryl.fetch</string>
	<key>PROJECT_ID</key>
	<string>fetch-a0acf</string>
	<key>STORAGE_BUCKET</key>
	<string>fetch-a0acf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007858365668:ios:869841cda84f640f27a8f1</string>
	<key>DATABASE_URL</key>
	<string>https://fetch-a0acf.firebaseio.com</string>
</dict>
</plist>